
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}


.add-field {
	width: 	100%;
	font-size: 16px;
	height: 	50px;
	margin-top: 50px;
	margin-bottom: 	10px;					
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.todo-icon {
  position: absolute;
  top: 2px;
  right: 5px;
}
.status-icon {
  position: absolute;
  top: 50%;
  right: 5px;
}
.delete-icon {
  position: absolute;
  bottom: 0%;
  right: 5px;
}

.right-adjuster {
  position: relative;
  width: 20%;
}

.mediume-icon {
  font-size: 36px;
}

.top_right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card_adjuster {
  width: 80%;
}

.mediume-icon {
  font-size: 36px;
}

.card_adjuster {
  width: 80%;
  padding: 5px;
}