<div class="col-md-6">
 <div class="card_adjuster" *ngFor="let t of todos | async; index as i">

  <mat-card class="example-card" >
  <mat-card-header class="{{ !t.isCompleted ? '' : 'green_button' }}" >
    <img style="width:60px; height: 60px" src="https://blobscdn.gitbook.com/v0/b/gitbook-28427.appspot.com/o/spaces%2F-L5K1I1WsuQMZ8ecEuWg%2Favatar.png?generation=1518623866348435&alt=media" />
 
  </mat-card-header>

  <mat-card-content>
    <div>   
        <h4>Redux Way</h4>
    </div>
    <p>
      <mat-card-title  >
        {{t.name}}
      </mat-card-title>
    </p>
  </mat-card-content>
  <mat-card-actions>    
       <fa class="mediume-icon" *ngIf="t.isCompleted" (click)="toggleTask(t.isCompleted, i)" name="cog" animation="">On Progress</fa>
       <fa class="mediume-icon green_icon"  *ngIf="!t.isCompleted" (click)="toggleTask(t.isCompleted, i)" name="cog" animation="spin">On Progress</fa>
  </mat-card-actions>
</mat-card>
    
  
  </div>

</div>