.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}


.add-field {
	width: 	100%;
	font-size: 16px;
	height: 	50px;
	margin-top: 50px;
	margin-bottom: 	10px;					
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}